.navbar-logo {
    height: 60px;
    width: auto;
}

.bg-danger {
    background-color: rgb(201, 26, 26) !important;
}

.nav-font {
    font-size: 20px !important;
}

.margotopnagy {
    margin-top: 170px;
}

.text-capitalize {
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}

.pirosgomb {
    background-color: rgb(201, 26, 26) !important;
    border-color: rgb(201, 26, 26) !important;
}
.bemutatkozaskep{
width: 550px;
margin-left: 15rem;
margin-top: 10rem;
border-radius: 20px;
}
.containerize{
    box-shadow: 0px 10px 20px;

}
.bemutatkozas{
font-size: 1.5rem;
text-align: justify;
margin-right: 100px;
margin-top: 150px;
}
hr{
    margin-top: 5rem;

}
.feketegomb{
    background-color: black !important;
    border-color: black !important;
}
.card-header{
    border-bottom: 2px solid black;
background-color: white;
    justify-content: center;
}
.pirosbetu{
    color:  rgb(201, 26, 26) !important ;
    font-size: 30px;
}
.noborderradius{
    border-radius: 0 !important ;
}
.noborderradiusjobb{
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.noborderradiusbal{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.marginxnagy {
  margin-right: 25rem;
  margin-left: 12rem;
  margin-top: 5rem;
}

@media (max-width: 992px) {
  .marginxnagy {
    margin-right: 7rem;
    margin-left: 7rem;
  }
}

@media (max-width: 768px) {
  .marginxnagy {
    margin: 3rem;
  }
}

@media (max-width: 576px) {
  .marginxnagy {
    margin: 1rem;
  }
}
.justify{
    text-align: justify;
}
.noborder{
    border: 0;
}
footer{
    background-color: black;
}
.footer-logo{
    width: 300px;
    margin-left: 150px;
}
.footerlineheight{
    line-height: 30px;
}
.szoveg{
    font-size: 30px ;
}
.nagym{
    margin-left: 200px;
}
.line{
    line-height: 10px;
    font-size: 17px;
}
